<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.binary.heart.hearttouch" >
    <uses-sdk android:minSdkVersion="15"
        android:targetSdkVersion="22"></uses-sdk>

    // SDK 权限申明, 第三方 APP 接入时，请将 com.yuntongxun.ecdemo 替换为自己的包名
    // 和下面的 uses-permission 一起加入到你的 AndroidManifest 文件中。
    <permission android:name="com.binary.heart.hearttouch.permission.RECEIVE_MSG"
        android:protectionLevel="signature"/>
    <permission android:name="com.binary.heart.hearttouch.permission.INCOMING_CALL"
        android:protectionLevel="signature"/>
    // 接收 SDK 消息广播权限， 第三方 APP 接入时，请将 com.yuntongxun.ecdemo 替换为自己的包名
    <uses-permission android:name="com.binary.heart.hearttouch.permission.RECEIVE_MSG" />
    // 如果没有VOIP功能可以忽略
    <uses-permission android:name="com.binary.heart.hearttouch.permission.INCOMING_CALL" />
    // 以上为v5.1.9r 版本增加

    // 允许程序打开网络sockets
    <uses-permission android:name="android.permission.INTERNET" />
    // 允许程序访问有关的网络信息
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    // 允许程序访问Wi-Fi网络状态信息
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    // 允许应用写（非读）用户的外部存储器
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    // 允许读取电话的状态
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    // 允许一个程序获取信息有关当前或最近运行的任务，一个缩略的任务状态，是否活动等等
    <uses-permission android:name="android.permission.GET_TASKS" />
    // 允许程序录制音频
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    // 允许应用程序修改全局声音设置的权限
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    // 允许使用PowerManager的WakeLocks保持进程在休眠时从屏幕消失
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    // 允许请求访问使用照相设备(如果使用视频通话则必选配置)
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- 允许程序禁用键盘锁(非必选,由应用选择是否需要) -->
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>


    <!--用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
    <!--用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    <!--这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>




    <application
        android:name=".application.HttApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/HeartAppBaseTheme" >

        <meta-data android:name="com.amap.api.v2.apikey" android:value="d5d4293dc69f8b385187eb75b62e51bc">
        </meta-data>

        <activity android:name=".MainActivity"
            android:screenOrientation="portrait">

        </activity>

        <!--<activity android:name=".test.TestActivity">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN"></action>-->
                <!--<category android:name="android.intent.category.DEFAULT"></category>-->
                <!--<category android:name="android.intent.category.LAUNCHER"></category>-->
            <!--</intent-filter>-->
        <!--</activity>-->
        <activity android:name=".activity.WelcomeActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"></action>
                <category android:name="android.intent.category.DEFAULT"></category>
                <category android:name="android.intent.category.LAUNCHER"></category>
            </intent-filter>
        </activity>
        <activity android:name=".activity.LoginActivity"
            android:screenOrientation="portrait"
            >

        </activity>

        <activity android:name=".activity.RegisterActivity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".activity.MyInfoActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".activity.CaiQuanActivity"
            android:screenOrientation="portrait"></activity>


    </application>


</manifest>
